* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #ebd3f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a151c;
}

main {
    margin-inline: 200px;
}

h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 40px 0 4px;
}

a {
    font-size: 13px;
    color: #ae66d4;
    transition: color 0.3s;
}

a:hover {
    color: #ebd3f7;
}

::selection {
    background-color: #ae66d4;
    color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #281d2e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #36283e;
}

/* Personalização da tela Home */

.divisoria {
    height: 1.2px;
    border-radius: 3px;
    background: #ae66d4;
    border: none;
    margin: 10px 0 15px;
}

/* seção dos cards */
.container {
    display: inline;
}

.classificacao {
    margin-top: 20px;
}

.semana,
.comunidade {
    margin-bottom: 15px;
}

.semana p,
.comunidade p {
    font-size: 1.3rem;
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card {
    background-color: #ebd3f7;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 24%;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s;
    box-shadow: 0 0 5px #10001c;
    /* Sombra inicial esfumaçada */
}

.card-image {
    width: 100%;
    /* Faz a imagem preencher toda a largura do cartão */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    /* Remove espaço embaixo da imagem */
}

.card:hover {
    border-color: #8747a8;
    box-shadow: 0 0px 7px #281d2e;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.game-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8747a8;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    text-shadow:
        -1px -1px 0 #ebd3f7,
        1px -1px 0 #ebd3f7,
        -1px 1px 0 #ebd3f7,
        1px 1px 0#ebd3f7;
    /* Sombras que criam o efeito de borda */
}

.card:hover .game-title {
    opacity: 1;
}

/* filtros */
.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.select-field {
    background-color: #281d2e;
    border: 1px solid #ae66d4;
    padding: 4px;
    transition: background-color 0.3s;
    margin: 10px 0;
    border-radius: 6px;
    margin-right: 15px;
}

.select-field:hover,
.select-field:focus {
    background-color: #281d2e;
    outline: none;
}

.select-field option {
    background-color: #281d2e;
    /* Define a cor de fundo das opções da combobox */
    color: #ebd3f7;
    /* Define a cor do texto das opções */
}

label {
    font-weight: 600;
    margin-right: 5px;
}

.search-container {
    position: relative;
    margin: 10px 0;
}

.search-field {
    background-color: #281d2e;
    border: 1px solid #ae66d4;
    padding: 4px 40px 4px 10px;
    border-radius: 6px;
    transition: background-color 0.3s;
    color: #ebd3f7;
    font-size: 16px;
}

.search-field:hover,
.search-field:focus {
    background-color: #281d2e;
    outline: none;
}

/* navbar */
.navbar {
    display: flex;
    gap: px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 0 20px;
    background: transparent;
    border-bottom: 1px solid #281d2e;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}


.navbar .links a,
.navbar .logo h2 {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-size: 2.2rem;
}

.navbar .dropdown>a {
    font-weight: 600;
}

.navbar .links a:hover {
    color: #d3a5e8;
}

.logo h2 {
    font-size: 2.0rem;
    font-weight: 500;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    transition: 0.25s;
}

.dropdown {
    font-size: 24px;
    position: relative;
    cursor: pointer;
}

.dropdown>a {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 72px;
    font-size: 1.0rem;
}

.dropdown>a>img {
    width: 50px;
    height: 50px;
    margin-left: 12px;
}

.dropdown:hover .menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    position: absolute;
    top: 60px;
    right: -20px;
    display: grid;
    width: 180px;
    padding: 8px 0;
    background: #1a151c;
    border-radius: 10px;
    border: 1px solid #281d2e;
    box-shadow: 0 40px 40px rgb(0 0 0 / 6%);
    color: #ebd3f7;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}

.menu::before {
    content: "";
    background: inherit;
    border-top: 1px solid #281d2e;
    border-right: 1px solid #281d2e;
    position: absolute;
    top: -7px;
    right: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}

.menu.open {
    opacity: 1;
    visibility: visible;
}

.menu>a {
    font-size: 1.0rem;
    padding: 12px 20px;
}

.menu>a:hover {
    background: #281d2e;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 5px;
}

.links {
    display: flex;
    gap: 60px;
    justify-content: center;
    flex: 1;
}

.links a {
    font-size: 1.5rem;
}

/* footer */

footer {
    background-color: #1a151c;
    color: #ebd3f7;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #8747a8;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer ul li {
    margin: 0 15px 10px;
}

footer ul li a {
    color: #ae66d4;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ebd3f7;
}

footer p {
    font-size: 12px;
    margin-top: 10px;
}